$background-color: #f7f6f1;
$primary-color: #9f87af;
$primary-color-light: #d5cbdc80;
$primary-color-dark: #7d4f82;

$accent-color: #03b5aa;

$font-color: #1b101c;
$font-size: 16px;
$font-stack: Helvetica, sans-serif;
